
.vs/k-means image segmentation/v15/Server/sqlite3/db.lock
.vs/k-means image segmentation/v15/Server/sqlite3/storage.ide
.vs/k-means image segmentation/v15/Server/sqlite3/storage.ide-shm
.vs/k-means image segmentation/v15/Server/sqlite3/storage.ide-wal
